<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static\style.css">
    <title>Adicionar Produto</title>
  </head>
  <body>
    <h1>Adicionar Novo Produto</h1>
    <form method="post">
      Nome: <input type="text" name="nome"><br>
      Produto: <input type="text" name="produto"><br>
      Quantidade: <input type="number" name="quantidade"><br>
      Preço: <input type="number" name="preco" step="0.01"><br>
      <input type="submit" value="Adicionar">
    </form>
    <a href="templates\index.html">Voltar</a>
    <script src="app.py"></script>
  </body>
</html>
